*{
    margin: 0;
    padding: 0;
    border: 0;
}
ul{
    list-style-type: none;
}
body{
    background-color: black;
    color:white;
    background: url('../imagenes/imagen10.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    background-color: rgb(178,185,191);
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
nav img{
    width: 50%;
    margin-left: 15px;
}
nav h1{    
    width: 70%;
    text-align: center;
    font-size: 5rem;
}
nav form{
    
    width: 24%;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    font-size: larger;
    justify-content: flex-start;
    
}

nav input[type="submit"]{

    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 5px;    
}
nav input[type="submit"]:hover{
    cursor: pointer;
}
nav div{
    margin-bottom: -10px;
}
main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
main h2{
    font-size: 4rem;
}
table{
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    color:black;
    font-weight: bolder;
}
thead{
    font-size: 2rem;
    background-color: rgb(0,0,0);
    color:white;
}
td{
 font-size: larger;
 padding: 5px;
}
tr:hover{
    background-color: rgb(0,0,0);
    color:white;
}
tbody,td{
    border:2px double white;
}

